
.Main{
    margin-top: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
}

.Main-title h1 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
    color:#32292F;
}

.Main-title h3 {
    font-weight:700;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
    color:#32292F;
}

.Main-title-img img{
    width: 100%;
    margin-bottom: 1rem;
}

.Main-body{
    margin-bottom: 1rem;
}

.Main-location-link{
    color:#32292F;
    font-size: 32px;
    margin: 1rem;
    text-decoration: none;
}
